.home-page {
    background-color: #151515;
}

* {
    font-family: 'Nunito', sans-serif;
}

/* Navbar */
.navbar > .container-fluid {
    margin-left: 4vw;
    margin-right: 4vw;
}

.nav-item > a {
    font-style: normal;
    font-weight: 700 ;
    font-size:  18px;
    line-height: 27px;
}

.form > input {
    border: none;
    transition: 0.5s;
}

.form > input:focus{
    box-shadow: none;
}

div > .form {
    border-radius: 8px;
    border: 1px solid #252525;
    width: 443px;
    height: 40px;
}

.form > .btn-search{
    font-size: 15px;
    margin-right: 6px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 6px;
}

.form > input::placeholder {
    color: #8D8B8B;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.btn-navbar > a > .btn-outline-primary {
    border: 2px solid  #6B4FDD;
    color:  #6B4FDD;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border-radius: 10px; 
}

.btn-navbar > a > .btn-outline-primary:hover {
    border: 2px solid  #6B4FDD;
    color: white;
    background-color: #6B4FDD;
}

.btn-navbar > a > .btn-primary {
    border: 2px solid  #6B4FDD;
    background-color: #6B4FDD;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    height: 38px;
    width: 86px;
    border-radius: 10px;
}

.btn-navbar > a > .btn-primary:hover {
    background-color:  #A089FF;
    border: 2px solid  #A089FF;
}
/* Navbar */

.body-content {
    padding: 10px 4vw 2vw 4vw;
    
}

/* Body carousel */
.body-content-carousel {
    padding: 125px 4vw 2vw 4vw; 
}

/* Body Home */
.body-content-home {
    padding: 0 4vw 2vw 4vw; 
}

/* Caraousel */
.body-content-home > .container-fluid {
    margin-bottom: 2vw;
}


.carousel > .carousel-control-prev {
    margin-left: 20px;
    justify-content: start;
    width: 2%;
}

.carousel > .carousel-control-next {
    margin-right: 20px;
    justify-content: end;
    width: 2%;
}

.carousel-item > .carousel-btn {
    position: absolute;
    width: 45%;
    text-align: left;
    left: 3.5%;
    transform: translatey(-50%);
    bottom: 5vw;
}

.watch-now {
    text-decoration: none;
}

.trailer {
    text-decoration: none;
}

.watch-now > .carousel-btn-play{
    background-color: #6B4FDD;
    border: 1px solid #6B4FDD;
    padding: 0.7vw;
    border-radius: 16px;
    width: 9vw;
    height: 2.5vw;
}

.watch-now >  .carousel-btn-play:hover{
    background-color: #A089FF;
    border: 1px solid #A089FF;
}

.trailer > .btn-trailer{
    padding: 0.7vw;
    border-radius: 16px;
    width: 9vw;
    height: 2.5vw;
}

.trailer > .btn-trailer:hover{
    background-color: #A089FF;
    border: 1px solid #A089FF;
}

.carousel-btn-play > span {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 27px;
}

.btn-trailer > span {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 27px;
}

/* Button Genre */

.select-genre {
    background-color: transparent;
}

.select-genre > .container-fluid {
    margin: 0;
    padding: 0;
}
.select-genre-item > a {
    color: white;
}
.select-genre-all > a {
    color: white;
}
.select-genre-all {
    border: 1px solid #6B4FDD;
    border-radius: 12px;
    background-color: #6B4FDD;
}

.select-genre-item {
    border: 1px solid white;
    border-radius: 12px;
    background-color: transparent;
}
.select-genre-item:hover {
    border: 1px solid black;
    border-radius: 12px;
    background-color: #6B4FDD;
}

.select-genre-item > a:hover{
    color: white;
}

.select-genre-all > a:hover{
    color: white;
}

/* Continue Watching */
.continue {
    margin: 24px 0 24px 0;
}

.continue > .text-continue {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.continue > span {
    color: #6D6D6D;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

}

.continue-title > h6 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding: 24px 0 0 0;
}
/* Continue Watching */

/* Card Content */
.card-content {
    margin: 20px 0 20px 0;
}

.card-content > .card-content-text {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.card-content > .see-more > a {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
}

/* .row > .body-card-content {
    padding: 0;
} */

.body-card-content > .card {
    background: none;
    width: auto;
    height: 100%;
}

.card > .card-content-title {
    padding: 16px 0 0px 0;
}

.card-content-title > .card-title {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.card-content-title > .h6-genre {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #6D6D6D;
}

/* Card Content */

/* Theater */
.body-theater > .theater-card {
    background: none;
}

.theater-card > .row {
    background: #2B2A2A;
}

.theater-card-body {
    padding-left: 1vw;
}

.theater-card-body > .card-title {
    margin: 0;
}

.theater-card-body > .card-textWaktu {
    color: #7D7D7D;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
}

.theater-card-body  > .card-textGenre {
    color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.row > p {
    color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
/* Theater */

/* Footer */
footer > .body-footer {
    padding: 20px 4vw 20px 4vw;
}

.footer-content > p {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.menu-footer > h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.menu-footer > p > a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.title-subscribe > h6 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.title-subscribe > p {
    color: #8A8282;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.sosmed > h6 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.btn-subscribe > .btn {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    background-color: #6B4FDD;
}

.card:hover {
    transform: scale(1.1);
    transition: 1s;
    opacity: 0.7;
    
}

.card:hover .card-img-overlay > button{
    transform: scale(1.1);
    visibility: visible;
    transition: 1s;
    
}

.card-img-overlay > button > i {
    font-size: 70px;
    
}
.card-img-overlay > button {
    color: white;
    background-color: transparent;
    border: none;
    visibility: hidden;
}

.card-img-overlay > button:hover {
    color: white;
    background-color: transparent;
    border: none;
    transition: 1s;
}

/* modal */
.modal-dialog > .detail-content {
    border-radius: 24px;
    background-color:  #1F1E1E;
}

.detail-content > .detail-body {
    padding: 35px;
    
}

.detail-body > .detail-row {
    margin-left: 0;
    margin-right: 0;
}

.detail-row > .img-modal {
    padding-left: 0;
    padding-right: 0;
}

.detail-row > .content-modal {
    margin-left: 25px;
    padding-right: 0;
}

.header-modal > .detail-title {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 0;
}

.content-genre > span {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 16px 4px 16px;
    border: 1px solid white;
    border-radius: 8px;
}

.content-spec > span {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
}

.content-spec > .modal-rating {
    width: 14px;
}

.content-synopsis > p {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
   
}

.column1 {
    color: #6D6D6D;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.column2 {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.content-genre {
    margin-top: 10px;
    margin-bottom: 17px;
    
}

.content-spec {
    margin-bottom: 20px;
}

.content-synopsis {
    margin-bottom: 20px;
}

.content-writers {
    margin-bottom: 20px;
}

.content-writers > .row {
    margin-bottom: 8px;
}
.modal-watch {
    margin-top: 55px;
    
}

.btn-watch > a > button {
    background-color: #6B4FDD;
    border: none;
    width: 136px;
    border-radius: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.btn-watch > a {
    text-decoration: none;
  
}


.btn-watch > a > button:hover {
    background-color: #A089FF;
  
}

.btn-close {
    color: white;
    background-color: whitesmoke;
}

/* Modal Contact Us */
.contact-dialog > .contact-content {
    border-radius: 20px;
    background-color:  #1F1E1E;
    padding: 23px;
    
}

.contact-content > .contact-header {
    border: none;
}

.contact-title {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.contact-content > .contact-body {
    padding-top: 0;
}

.modal-quote {
    padding-bottom: 20px;
    color: #6D6D6D;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    }

.contact-data > .contact-label {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.contact-data > .contact-input {
    background-color: #252525;
    border: 1px solid #252525;
    border-radius: 8px;
}

.contact-data > .contact-input::placeholder {
    color: #595959;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.contact-data > .contact-input:focus {
    background-color: #252525;
    border: 1px solid #252525;
    color: white;
    box-shadow: none;
}

.contact-data > .contact-textArea {
    background-color: #252525;
    border: 1px solid #252525;
    border-radius: 8px;
}

.contact-data > .contact-textArea::placeholder {
    color: #595959;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.contact-data > .contact-textArea:focus {
    background-color: #252525;
    border: 1px solid #252525;
    color: white;
    box-shadow: none;
    
}

.contact-content > .contact-footer {
    border: none;
}

.contact-footer >.btn-primary {
    background-color: #6B4FDD;
    border: 1px solid  #6B4FDD;
}


.contact-footer > .btn-primary:hover {
    background-color:  #A089FF;
    border: 1px solid  #A089FF;
}

/* TV-Shows */
.body-breadcrumb {
    padding: 5vw 4vw 10px 4vw;
}

.breadcrumb-item > a {
    color:  #6B4FDD;
}

.breadcrumb > .breadcrumb-item.active {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    }

li.breadcrumb-item.active::before {
    color: white;
}

/* Alert */

.body-alert > .alert-new {
    height: 40px; 
    z-index: 999; 
    margin-top: 85px; 
    right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: none;
}

/* Sign-In */

.signin-body {
    background-color: #1A1919;
    
}

.signin-title {
    color: #A089FF;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 180%;

}

.gr-signin-input > .signin-input {
    background-color: #262626;
    border: none;
    
}

.gr-signin-input > .signin-input::placeholder{
    color: #696666;
}

.gr-signin-input > .signin-input:focus {
    background-color: #262626;
    box-shadow: none;
    color: white;
    
}

.gr-signin-check > .signin-check-input {
    background-color: #262626;
    border: 1px solid #A089FF;
}

.gr-signin-check > .signin-check-input:focus {
    background-color: #262626;
    box-shadow: none;
    color: white;
}

.signin-remember {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}

.signin-forgot > p > a {
    color: #A089FF;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}

.gr-signin-btn > a > .signin-btn {
    background-color: #6B4FDD;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;  
}

.gr-signin-btn > a > .signin-btn:hover {
    background-color: #A089FF;
    color: white;
}

.signin-signup {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}

.signin-signup > a {
    color: #A089FF;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}


/* Sign-Up */

.signup-body {
    background-color: #1A1919;
    
}

.signup-title {
    color: #A089FF;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 180%;

}

.gr-signup-input > .signup-input {
    background-color: #262626;
    border: none;
}

.gr-signup-input > .signup-input::placeholder{
    color: #696666;
}

.gr-signup-input > .signup-input:focus {
    background-color: #262626;
    box-shadow: none;
    color: white;
}

.gr-signup-check > .signup-check-input {
    background-color: #262626;
    border: 1px solid #A089FF;
}

.gr-signup-check > .signup-check-input:focus {
    background-color: #262626;
    box-shadow: none;
    color: white;
}

.gr-signup-btn > a > .signup-btn {
    background-color: #6B4FDD;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;  
}

.gr-signup-btn > a > .signup-btn:hover {
    background-color: #A089FF;
    color: white;
}

.signup-signin {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}

.signup-signin > a {
    color: #A089FF;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}

.streaming-title > h3 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-top: 40px;

}

.streaming-genre > span {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.streaming-year > img {
    width: 10px;
}

.streaming-year > span {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.streaming-rating > img {
    width: 15px;
}

.streaming-rating > span {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.streaming-synopsis > p {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
}

.streaming-creators > span {
    color: #9F9B99;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.season-btn > button {
    color: white;
    background-color: #222222;
    padding: 6px 24px;
    border-radius: 8px;
    border: 1px solid #ffffff; 
}

.season-btn > .btn-season1 {
    color: white;
    background-color: #6B4FDD;
    padding: 6px 24px;
    border-radius: 8px;
    border: 1px solid #6B4FDD; 
}

.container-season {
    margin-top: 40px;
}


.season-content {
    margin-top: 50px;
}

.season-title {
    margin-bottom: 15px;
}

.season-title-text {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.season-title-text > span {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.season-spec {
    margin-bottom: 20px;
}

.season-spec > span {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-right: 7px;
}

.season-rating {
    width: 13px;
    margin-right: 5px;
}

.season-titik {
    width: 8px;
    margin-right: 5px;
}

.season-synopsis > p {
    color: #6D6D6D;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

/* Reviews */

.container-reviews {
    margin-top: 70px;
    margin-bottom: 90px;
}

.reviews-title > h4 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
}

.reviews-ratings > img {
    width: 17px;
}

.reviews-ratings > span {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.reviews-content {
    margin-top: 30px;
    
}

.reviews-people {
    background-color: #1F1E1E;
    border-radius: 16px;
    padding: 13px;
}

.row > .img-people {
    padding-left: 0;
    padding-right: 0;
}

.reviews-content-name > h6 {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.content-ratings-img > img {
    width: 14px;
}

.content-ratings-value {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.reviews-message > p{
    color: #7D7D7D;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 0px;
}


/* sortby & filter */

.sortby {
    width: 160px;
    height: 45px;
    background-color: #272727;
    border-radius: 12px;
}

.sortby > a {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none; 
}

.filter {
    width: 160px;
    height: 45px;
    background-color: #272727;
    border-radius: 12px;
}

.filter > a {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none; 
}













